<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            <Exclude>**\Program.cs</Exclude>
          </ExcludeByFile>
          <Exclude>
            <Module>MealPlannerApp</Module>
            <Class>MealPlannerApp.Program</Class>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
